body {
    background: #313a57 url('rsc/bg.gif') repeat;
    color:#96d0dc;
    font-family: sans-serif;
    letter-spacing: 1px;
}

#container {
    max-width: 1160px;
    margin: auto;
    display: flex;
}

a, a:visited {
    border-color:#f1cf6d;
    color:#96d0dc;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    color:white;
}

a.selected {
    padding-left:10px;
}

a.complete {
    color:#95eb92;
}

fieldset {
    background:#323150;
    border:2px solid #4fe1f8;
    border-radius:10px;
    margin:0 auto 10px auto;
}
fieldset legend {
    color:#4fddf5;
    background-color:#323150;
    margin-left:15px;
    padding:2px 5px;
    font-size:larger;


    font-weight: normal;
    text-shadow: 0px 0px 2px black;

    border:2px solid #4fe1f8;
    border-radius:10px;
}

fieldset.complete,
fieldset.complete legend {
    border-color:#95eb92;
    color:#95eb92;
}
fieldset.complete img {
    border-color:#418c2f;
}

fieldset img {
    width:200px;
    text-decoration:none;
    border:5px solid #4fe1f8;
}

fieldset a.fancybox {
    text-decoration:none;
    margin:5px 10px;
}
fieldset a:hover img {
    color:white;
    border-color:white;
}

.intro {
    padding:5px 10px;
    color:white;
    font-weight:normal;
    background-color:#4fe1f822;
}

/* Sommaire layout */
.menu {
    margin-right: 20px;
    flex-basis: 250px;
    /*flex-grow: 0;*/
}


#sommaire {
    margin:0;
    padding:0;
    list-style: none;
    font-size:85%;
    white-space: nowrap;
}

#topArrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background: rgb(50, 49, 80, 0.8);
    border: 3px solid #96d0dc;
    border-radius: 10px;
}